.inputWrap {
  position: relative;
  display: inline-block;
}

.input {
  position: relative;
  width: 300px;
  border: 2px solid var(--input-color);
  border-radius: 16px;
  /* min-height: 40px; */
  padding: 10px 46px 10px 20px;
  font-size: 16px;
  color: inherit;

  &::placeholder {
    color: var(--placeholder);
    font-size: 14px;
  }

  &:focus {
    outline: none;
    border-color: var(--input-color-focus);
  }
}

.clearBtn {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
}

.eyeIcon {
  fill: var(--main-white);
  stroke: var(--main-text);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: auto;
}
