.wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: fit-content;
}

.btn {
  background-color: var(--input-color-focus);
  color: var(--main-white);
  border: none;
  border-radius: 32px;
  padding: 10px 20px;
  min-width: 200px;
  height: 40px;
  transition: box-shadow 0.3s ease-in-out;
}

.btn:hover,
.btn:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  outline: none;
}
